*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.attribution {
     font-size: 11px; text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

body{
    background-image: url(images/bg-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

@media (min-width: 800px) {
    body {
      background-image: url('images/bg-desktop.png');
      background-position: center;
      background-repeat: no-repeat;
    }
}

.fylo-border{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid hsl(228, 56%, 26%);
    background-color: hsl(228, 56%, 26%);
    padding: 6rem;
    margin-top: 8rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 10px;
    border-top-right-radius: 7rem;
    overflow: hidden;
}

.icon{
    margin-top: -3rem;
    margin-right: 1rem;
    margin-left: -4rem;
}


.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -9.6rem;
    margin-top: 2rem;
    margin-bottom: -3rem;
}

.icon-1{
    border: 2px solid hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 9px;
    background-color: hsl(229, 57%, 11%);
    

}

.icon-2{
    border: 2px solid hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 9px;
    padding-top: 0.8rem;
    margin-left: 1rem;
    background-color: hsl(229, 57%, 11%);
}

.icon-3{
    border: 2px solid hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 9px;
    padding-top: 1rem;
    margin-left: 1rem;
    background-color: hsl(229, 57%, 11%);
}

.storage{
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    border: 1px solid hsl(228, 56%, 26%);
    background-color: hsl(228, 56%, 26%);
    padding: 6rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 10px;
}

h5{
    color: whitesmoke;
    margin-top: -3rem;
    font-family: 'Raleway';
    font-weight: 400;
}

span{
    font-weight: 700;
}
